WindowsFormsApplicationTest/Service References/HRServiceReference/PRS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://074-002-001-203.mellat.bm/Mellat_WS_Final/PRS/PRS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" />
  <xs:element name="get_WorkHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_WorkHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_WorkHistoryResult" nillable="true" type="q1:ArrayOfWorkHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EnfesalHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EnfesalHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_EnfesalHistoryResult" nillable="true" type="q2:ArrayOfEnfesalHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_NoWorkHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_NoWorkHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_NoWorkHistoryResult" nillable="true" type="q3:ArrayOfNoWorkHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsarHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsarHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_IsarHistoryResult" nillable="true" type="q4:ArrayOfIsarHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmatKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmatKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getVazKhedmatKindResult" nillable="true" type="q5:ArrayOfVazKhedmat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHozehKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHozehKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getHozehKindResult" nillable="true" type="q6:ArrayOfhozehData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmat_Changes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RowId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmat_ChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getVazKhedmat_ChangesResult" nillable="true" type="q7:ArrayOfVazKhedmat_Changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmatAllPrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmatAllPrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getVazKhedmatAllPrsResult" nillable="true" type="q8:ArrayOfVazKhedmatAllPrs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFinancialReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFinancialReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getFinancialReportResult" nillable="true" type="q9:ArrayOfFinancialReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeImageResult" nillable="true" type="q10:empImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchDegreeHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchDegreeHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="BranchDegreeHistoryResult" nillable="true" type="q11:ArrayOfCht_S01_SavDarajHedData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeGrantedHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeGrantedHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeGrantedHistoryResult" nillable="true" type="q12:ArrayOfBaz_Erfagh_janData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSignature_ByShmEmz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SGN_115" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSignature_ByShmEmzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSignature_ByShmEmzResult" nillable="true" type="q13:empSignatureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSignatureResult" nillable="true" type="q14:empSignatureData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSalaryGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="vazKhedmatIdStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSalaryGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSalaryGroupResult" nillable="true" type="q15:ArrayOfempSalaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSalaryResult" nillable="true" type="q16:empSalaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSpecGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="vazKhedmatIdStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSpecGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSpecGroupResult" nillable="true" type="q17:ArrayOfempSpecData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEmployeeSpecGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEmployeeSpecGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getPrivateEmployeeSpecGroupResult" nillable="true" type="q18:ArrayOfprivateEmpSpecData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeTotalWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeTotalWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeTotalWorkResult" nillable="true" type="q19:empWorkHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeTotalWorkGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="vazKhedmatIdStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeTotalWorkGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeTotalWorkGroupResult" nillable="true" type="q20:ArrayOfempWorkHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeSpecResult" nillable="true" type="q21:empSpecData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeCellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmployeeCellResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeCellGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeCellGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeCellGroupResult" nillable="true" type="q22:ArrayOfempCellData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromIdx" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getChartKindResult" nillable="true" type="q23:ArrayOfChartKindData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartKind_RecCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartKind_RecCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getChartKind_RecCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecruitmentStatusKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecruitmentStatusKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getRecruitmentStatusKindResult" nillable="true" type="q24:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOstanKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOstanKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getOstanKindResult" nillable="true" type="q25:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getCityKindResult" nillable="true" type="q26:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobTitleKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobTitleKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getJobTitleKindResult" nillable="true" type="q27:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDN_112Kind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDN_112KindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getIDN_112KindResult" nillable="true" type="q28:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDN_113Kind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDN_113KindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getIDN_113KindResult" nillable="true" type="q29:ArrayOfIDN113KindData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEduLevelKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEduLevelKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEduLevelKindResult" nillable="true" type="q30:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFieldKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFieldKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getFieldKindResult" nillable="true" type="q31:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRadehKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRadehKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getRadehKindResult" nillable="true" type="q32:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNoePostKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNoePostKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getNoePostKindResult" nillable="true" type="q33:ArrayOfLoanConditionsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EmtiazAmoozeshi_History">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EmtiazAmoozeshi_HistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_EmtiazAmoozeshi_HistoryResult" nillable="true" type="q34:ArrayOfAmoozeshEmtiazData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMostamaryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MostamariCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMostamaryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getMostamaryInfoResult" nillable="true" type="q35:MostamariData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeePassedCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeePassedCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeePassedCoursesResult" nillable="true" type="q36:ArrayOfPassedCoursesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmat_ForLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVazKhedmat_ForLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getVazKhedmat_ForLoanResult" nillable="true" type="q37:NeedToLoanControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArzeshyabi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArzeshyabiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getArzeshyabiResult" nillable="true" type="q38:ArrayOfArzeshyabiData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeBoss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeBossResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="getEmployeeBossResult" nillable="true" type="q39:employeeBossData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_ComHistoryResult" nillable="true" type="q40:ArrayOfComHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComRewardHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComRewardHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_ComRewardHistoryResult" nillable="true" type="q41:ArrayOfComRewardHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ComKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_ComKindResult" nillable="true" type="q42:ArrayOfComKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EduHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emplCode" type="xs:decimal" />
        <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EduHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Parstasmim.BusinessLayer.PRS" minOccurs="0" name="get_EduHistoryResult" nillable="true" type="q43:ArrayOfEduHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>